*.log
#python compiled files
*.pyc
#vim swap files
*.swp
#pid files
*.pid
#ply generated flies
parser.out
parsetab.py
#random crap on the server
*.spec
build
dist
temp*
tmp*
webpy*

schema.xml

certs/*
*.*~
.DS_Store
._*

##
#latex files
##
report/*.aux

report/*.pdf
report/*.bbl
report/*.bcf
report/*.blg
report/*.run.xml
