@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('static/DejaVuSansMono.woff');
}

body {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
}

#main_container {
  width: 100%;
  max-width: 980px;
  min-width: 300px;
  margin: 0px auto;
  padding-top: 60px;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}

nav {
  max-width: 980px;
  min-width: 300px;
  height: 100%;
  margin: auto;
}

nav ul {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav ul li {
  width: 33.333333333%;
  height: 100%;
  float: left;
  text-align: center;
}

nav ul li span {
  font-size: 24px;
  line-height: 60px;
}

nav ul li span i {
  margin-right: 15px;
}

section {
  padding: 10px;
  text-align: center;
}

#logic {
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  text-align: left;
}

#logic {
  height: 100px;
}

textarea#sql_result {
  height: 100px;
}

button {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 16px;
}

#buttons_container {
  width: 50%;
  height: 30px;
  margin: 0px auto;
}

#buttons_container div {
  width: 50%;
  height: 100%;
  line-height: 30px;
  float: left;
  text-align: center;
}

.box_sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
 
    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;

}

.modal h2 {
    background:url(/media/img/global/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
  }

heet input, .error {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
}
 
/* validation error message */
.error {
  background-color:#E8FF6D;
  padding:4px;
  -webkit-box-shadow: #000 0 0 12px;
  -moz-box-shadow: #000 0 0 12px;
}
 
/* nested arrow inside error message. It's 100% CSS. No images. */
.error em {
  border:10px solid;
  border-color:#E8FF6D transparent transparent;
  bottom:-17px;
  display:block;
  height:0;
  left:10px;
  position:absolute;
  width:0;
}
 
/* input field that caused validation error */
.invalid {
  background-color:rgba(221, 233, 255, 0.898) !important;
}
