$def with (form)

<!DOCTYPE html>
<html>

  <head>
    <title>Logic to SQL</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--Import JQuery from Google-->
    <script src="static/main.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- May want to use these at some point
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-startup-image" href="/splash-startup.png">
    -->
  </head>

  <body>
    <div id="main_container">
      <header>
        <nav>
          <ul>
            <li>
              <span><i class="icon-search"></i> Query</span>
            </li>
            <li>
            <span><i class="icon-edit"></i> Define</span>
            </li>
          </ul>
        </nav>
      </header>

      <section id="logic_section">
        <form name="convert_to_sql" action="#" method="post">        
          <input type="hidden" name="action" value="sql">
          $:form.logic.render()

          <button type="submit" id="convert_button">Convert to SQL</button>
          <input type="button" value="Insert AND symbol" id="and_button" />
        </form>
      </section>

      <section id="results_section">
        <textarea id="sql_result"></textarea>
        <textarea id="query_result"></textarea>
      </section>
    </div>
  </body>

</html>
