$def with (form,form2)
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||
      function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=
      s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;
      m.parentNode.insertBefore(a,m)})(window,document,'script',
      '//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45800576-1', 'srjallan.com'); ga('send', 'pageview');
    </script>
    <title>Logic to SQL</title>
    <script src="static/jquery.tools.min.js"></script>
    <script src="static/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- May want to use these at some point
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-startup-image" href="/splash-startup.png">
    -->
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  </head>

  <body>
    <div id="main_container">
      <header>
        <nav>
          <ul>
            <li>
              <span><i class="icon-search"></i> Query</span>
            </li>
            <li>
              <span><i class="icon-edit"></i> Define</span>
            </li>
            <li>
              <button class="modalInput" rel="#configdialog">Configure</button>
            </li>
          </ul>
        </nav>
      </header>

    <div class="modal" id="configdialog">
      <p> Configuration Page </p>
          $:form2.render()
      <form class="rounded" id="configform" method="post" action="/login">
          $:form2.host.render()
          $:form2.port.render()
          $:form2.username.render()
          $:form2.password.render()
          $:form2.dbname.render()
        <button type="submit" id="config_submit"> Submit </button>
      </form>
      <button class="close"> Close </button>
    </div>

      <section id="logic_section">
        <button id="and_button">&and;</button>
        <button id="or_button">&or;</button>
        <button id="implies_button">&rarr;</button>
        <button id="iff_button">&harr;</button>
        <button id="exists_button">&exist;</button>
        <button id="forall_button">&forall;</button>
        <button id="not_button">&not;</button>
        <form id="logic-form" name="convert_to_sql" action="#" method="post">
          $:form.logic.render()
          <button type="submit" id="convert_button">Convert to SQL</button>
        </form>
      </section>

      <div id='example' align='center'>Example query: ∃x(films_title(x, y) ∧ films_director(x, z))</div>
      <div id='Broken' align='center'>Broken stuff: firefox json return sometimes fails, sql result no longer returns column headings </div>
      <div id='schema' align='center'> </div>
      <div id='schema_table' align='center'> </div>

      <section id="results_section">
        <textarea id="sql_result" placeholder="SQL query produced"></textarea>
        <textarea id="query_result" placeholder="Query result"></textarea>
      </section>
    </div>
  </body>
  
  <div id='results_table' align='center'> </div>

</html>
